html,
body {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: rgb(10, 21, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 31px;
  font-family: inherit;
  line-height: inherit;
  outline: none;
  background: rgb(10, 21, 52, 0.25);
  color: rgb(217, 0, 251);
  border: none;
  border-radius: 50%;
  padding: 11.5px;
  margin: 7px;
  cursor: pointer;
  text-align: center;
}
.card {
  background: #fff;
  /* height: min(100vh, 100vw, 567px); */
  width: 367px;
  height: 549px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px -2.5px 10px rgb(10, 21, 52);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "ecr ecr ecr ecr"
    "clr_c r_r r_l div"
    "quatre cinq six moins"
    "un deux trois plus"
    "sept huit neuf fois"
    "btn_plus_moins zero point egal";
}

.btn_plus_moins {
  grid-area: btn_plus_moins;
}
.clear {
  grid-area: clr_c;
  color: red;
}
.r_right {
  grid-area: r_r;
}
.egal {
  grid-area: egal;
  color: white;
  background: rgb(217, 0, 251);
}
.r_left {
  grid-area: r_l;
}
.division {
  grid-area: div;
}
.fois {
  grid-area: fois;
}
.moins {
  grid-area: moins;
}
.plus {
  grid-area: plus;
}
.point {
  grid-area: point;
}
.zero {
  grid-area: zero;
}
.un {
  grid-area: un;
}
.deux {
  grid-area: deux;
}
.trois {
  grid-area: trois;
}
.quatre {
  grid-area: quatre;
}
.cinq {
  grid-area: cinq;
}
.six {
  grid-area: six;
}
.sept {
  grid-area: sept;
}
.huit {
  grid-area: huit;
}
.neuf {
  grid-area: neuf;
}

.ecranAll {
  grid-area: ecr;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "oper oper oper oper"
    "res res res res"
    "tag_x tag_x tag_x tag_x";
  border-bottom: rgb(10, 21, 52, 0.25) solid 2px;
  height: 150px;
}
.operationOpp {
  grid-area: oper;
  width: 100%;
  height: 20px;
  background: rgb(214, 69, 69);
}
.resultat {
  grid-area: res;
  color: rgb(10, 21, 52, 0.5);
}
.tag-x {
  grid-area: tag_x;
  color: rgb(217, 0, 251);
}
hr {
  grid-area: hr;
  border: 1px #000 solid;
  padding: 0;
  height: 10px;

  color: rgb(10, 21, 52, 0.5);
}
.operationOpp,
.resultat,
.tag-x {
  background: transparent;
  text-align: end;
  font-size: 27px;
  width: 100%;
  padding: 7px 30px;
  margin: 2px 0;
}

@media screen and(max-width:500px) {
  .card {
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }
}
